// OLD VERSION
// #about-container {
//   h2 {
//     span {
//       background-color: #fafafa;
//       color: #111111;
//       padding: 0.3rem;
//       border-radius: 10px;
//     }
//     span:hover {
//       background-color: #111111;
//       color: #fafafa;
//     }
//   }
// }

#about-container {
  h2 {
    span {
      text-decoration: underline;
      color: #ffffff;
      padding: 0.3rem;
      border-radius: 10px;
    }
    span:hover {
      background-color: #fafafa;
      color: #111111;
    }
  }
}
