#home-container {
  // padding-bottom: 10rem;
}

.main-content-subtitle {
  background-color: #fafafa;
  color: #111111;
  padding: 0.3rem;
  border-radius: 10px;
}
.main-content-subtitle:hover {
  background-color: #111111;
  color: #fafafa;
}
