html,
body {
  overflow-x: hidden;
}

main {
  display: flex;
  flex-direction: column;
}

.portfolio-subtitle {
  text-decoration: underline;
  color: #a7a7a7;
  padding: 0.3rem;
  border-radius: 10px;
}
.portfolio-subtitle--2::before {
  content: "UI .DESIGN";
}
.portfolio-subtitle--2:hover::before {
  font-style: italic;
  content: "UX DESIGN";
}

.portfolio-subtitle:hover {
  background-color: #fafafa;
  color: #111111;
}

.portfolio-card-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.portfolio-card-container a {
  text-decoration: none;
}

.webdev-portfolio-card:hover {
  border: white 3px solid;
}
.webdev-portfolio-card:hover img {
  transform: scale(1.03);
}

.webdev-portfolio-card {
  border: transparent 3px solid;
  padding: 7px;
  margin: 1rem;
}
.webdev-portfolio-card img {
  height: 12rem;
  width: 22rem;
  transition: all 0.4s ease-in-out;
}
.webdev-portfolio-card img:hover {
  cursor: pointer;
}
.webdev-portfolio-card .webdev-portfolio-card__title {
  display: flex;
  justify-content: space-between;
}
.webdev-portfolio-card .webdev-portfolio-card__title-buttons button {
  color: #fafafa;
  background: #111111;
  border-radius: 10px;
  border: #fafafa solid 1px;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}
.webdev-portfolio-card .webdev-portfolio-card__title-buttons button:hover {
  cursor: pointer;
  color: #111111;
  background: #fafafa;
}
.webdev-portfolio-card .webdev-portfolio-card__languages {
  display: flex;
}
.webdev-portfolio-card .webdev-portfolio-card__language {
  width: 4rem;
  height: 1.2rem;
  border-radius: 1px;
  text-align: center;
  margin-right: 3px;
  border-radius: 7px;
}
.webdev-portfolio-card .webdev-portfolio-card__language--html {
  border: solid 2px #21b4ce;
}
.webdev-portfolio-card .webdev-portfolio-card__language--css {
  border: solid 2px #ba21ce;
}
.webdev-portfolio-card .webdev-portfolio-card__language--scss {
  border: solid 2px #52ce21;
}
.webdev-portfolio-card .webdev-portfolio-card__language--js {
  border: solid 2px #9016e0;
}
.webdev-portfolio-card .webdev-portfolio-card__language--react {
  border: solid 2px #e016b4;
}

.uidesign-portfolio-card {
  background-color: transparent;
  border: transparent 10px solid;
  margin: 1rem;
  width: 22rem;
}
.uidesign-portfolio-card h2 {
  font-weight: 500;
  color: #fafafa;
}
.uidesign-portfolio-card p {
  color: #999999;
}
.uidesign-portfolio-card p span {
  color: #535353;
}
.uidesign-portfolio-card img,
.uidesign-portfolio-card video {
  height: 12rem;
  width: 22rem;
  transition: all 0.4s ease-in-out;
  background-color: #111111;
}

.uidesign-portfolio-card:hover {
  background-color: white;
  border: white 10px solid;
  margin: 1rem;
  width: 22rem;
  cursor: pointer;
}
.uidesign-portfolio-card:hover h2 {
  font-weight: 500;
  color: #111111;
}
.uidesign-portfolio-card:hover p {
  color: #222222;
}
.uidesign-portfolio-card:hover p span {
  color: #777777;
}
.uidesign-portfolio-card:hover img,
.uidesign-portfolio-card:hover video {
  transform: scale(1.03);
}/*# sourceMappingURL=portfolio.css.map */