main {
  display: flex;
  flex-direction: column;
}

.portfolio-card-container-title {
  margin-left: 7%;
}
.portfolio-card-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  animation-duration: 3s;
  animation-name: fadeinlong;
}

.portfolio-card {
  margin: 2rem;
  img {
    height: 12rem;
    width: 22rem;
    transition: all 0.4s ease-in-out;
  }
  img:hover {
    cursor: pointer;
    transform: scale(1.03);
  }
  .portfolio-card__title {
    display: flex;
    justify-content: space-between;
  }
  .portfolio-card__title-buttons {
    button {
      color: #fafafa;
      background: #111111;
      border-radius: 50px;
      border: #fafafa solid 1px;
      font-weight: 600;
      transition: all 0.3s ease-in-out;
    }
    button:hover {
      cursor: pointer;
      color: #111111;
      background: #fafafa;
    }
  }
  .portfolio-card__languages {
    display: flex;
  }
  .portfolio-card__language {
    width: 4rem;
    height: 1.2rem;
    border-radius: 1px;
    text-align: center;
    margin-right: 3px;
    &--html {
      border: solid 2px #21b4ce;
    }
    &--css {
      border: solid 2px #ba21ce;
    }
    &--scss {
      border: solid 2px #52ce21;
    }
    &--js {
      border: solid 2px #9016e0;
    }
    &--react {
      border: solid 2px #e016b4;
    }
  }
}
