* {
    margin: 0;
    padding: 0;
    background-color: #1e1e1e;
    color: #f3f3f3;
}

body {
    min-height: 100vh;
    position: absolute;
}

header {}

.project-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
}

.project-card {
    padding: 1rem;
    width: 300px;
    .project-card__view {
        width: 100%;
        height: 10rem;
        background-color: #2c2c2c;
    }
    .project-card__title {
        display: flex;
        flex-direction: row;
        justify-content: left;
        font-size: 1rem;
    }
    .project-card__button {
        background-color: #2c2c2c;
        padding: 1rem;
        border: 0 solid #2c2c2c;
        display: inline-block;
        &--1 {
            width: 1rem;
            height: 1rem;
            border-radius: 50%;
        }
        &--2 {
            width: 1rem;
            height: 1rem;
            border-radius: 50%;
        }
        &--3 {
            width: 45%
        }
        &--4 {
            width: 45%;
        }
        &:hover {
            background-color: #21b4ce;
        }
        &:active {
            -webkit-box-shadow: inset 1px 1px 10px rgb(13, 212, 226);
        }
    }
    .project-card__title-divider {}
}

.footer {
    height: 3rem;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #333333;
    position: absolute;
    bottom: 0px;
    .footer__button {
        padding: 0.2rem;
        width: 2rem;
        height: 2rem;
        border: 2px solid #555555;
        &--1 {}
    }
}